<div class="container-fluid body">

	<% if params[:genre_id] %>
		<h1>Genre Index</h1>
	<% else %>
		<h1 class="heading">Recipe Index</h1>
		<%= search_form_for @q do |f| %>
		　<%= f.label :name, "ジャンル" %>
		  <!--:genre_name_cont(含む検索)はok、:genre_nameはだめなぜ？-->
		  <%= f.collection_select :genre_name_cont, Genre.all, :name, :name, { include_blank: true }, class: "status" %>
		  <%= f.label :name, "Keyword" %>
		  <%= f.search_field :name_or_mterials_name_cont, placeholder: "材料や料理名" %>
		  <%= f.submit "検索" %>
		<% end %>
	<% end %>

	<div class="recipe-index">
		<% @recipes.each do |recipe| %>
		<%if recipe.is_valid == true %>
		<div class="recipe-box clearfix">
			<div class="book-area">
				<div class="book book_index">
					<%= attachment_image_tag recipe, :image,size:"120x105", format:'jpeg', fallback: "no_image.jpg", class: "image-index"%><br>
					<p class="recipe-label" style="background-color: #fdf5e6;"><%= recipe.name %></p>
				</div>
				<div id="like-<%= recipe.id %>" class="recipe_like">
					<%= render partial: 'favorites/favorite' , locals:{ recipe: recipe } %>
				</div>
			</div>

			<div class="recipe-text">
				<h3 class="recipe-name-index"><%= recipe.name %></h3>
				<div class="recipe_user">by <%= recipe.user.name %></div><br><br>
				<div><%= recipe.explanation %></div>
			</div>
			<div class="recipe-link"><%= link_to "レシピを見る", recipe_path(recipe), class:"btn link_recipe" %></div>
		</div>
		<% end %>
		<% end %>
	</div>
	<div class="heading pagination-sm"><%= paginate @recipes %></div>
</div>