<h3>Recipes Show</h3>
<% if flash[:notice] %>
	<div class="flash notice"><%= flash[:notice] %></div>
<% end %>

<%= @recipe.name %>

<%= attachment_image_tag @recipe, :image,size:"250x230", format:'jpeg', fallback: "no_image.jpg"%>

<label>材料</label>
<%= @recipe.amount %>人前
<% @mterials.each do |mterial| %>
	<table>
		<tr>
		<td><%= mterial.name %></td>
		<td><%= mterial.puantity %></td>
		</tr>
	</table>
<% end %>

<% @cooks.each do |cook| %>
	<%= attachment_image_tag cook, :image,size:"150x150", format:'jpeg', fallback: "no_image.jpg"%>
	<%= cook.body %>
<% end %>