<div class=" body">
	<% if flash[:notice] %>
		<div class="flash notice"><%= flash[:notice] %></div>
	<% end %>
	<h1 class="heading">Home</h1>

	<h3 class="heading_second">新着レシピ</h3>
	<div class="home-rank">
		<% @recipes.each do |recipe| %>
		<div class="home-box">
			<div class="book book-home">
				<%= link_to recipe_path(recipe) do %>
					<%= attachment_image_tag recipe, :image,size:"120x105", format:'jpeg', fallback: "no_image.jpg", class: "image-index"%><br>
					<p class="recipe-label"><%= recipe.name %></p>
				<% end %>
			</div>
			<div id="like-<%= recipe.id %>" class="home-like">
				<%= render partial: 'favorites/favorite' , locals:{ recipe: recipe } %>
			</div><br>
			<div class="user_name_home"><%= recipe.name %></div>
			<div class="home-explanation"><%= recipe.explanation %></div>
		</div>
		<% end %>
	</div>
	<%= link_to 'レシピ一覧へ >', recipes_path ,:class => "home-link"%>

	<h3 class="heading_second">レシピランキング</h3>
	<div class="home-rank">
		<% i = 1 %>
		<% @recipes_rank.each do |topic| %>
		<% if topic.is_valid == true %>
		<div class="home-box">
			<p class="rank"><%= i %>位</p>
			<div class="book-home">
				<%= link_to recipe_path(topic) do %>
				<%= attachment_image_tag topic, :image,size:"120x105", format:'jpeg', fallback: "no_image.jpg", class: "image-index"%><br>
				<p class="recipe-label"><%= topic.name %></p>
				<% end %>
			</div>
			<div class="user_name_home"><%= topic.name %></div>
			<p class="home-explanation"><%= topic.explanation %></p>
			<% i += 1 %>
		</div>
		<% end %>
		<% end %>
	</div>

	<h3 class="heading_second">ジャンルで調べる</h3>
	<div class="home-genre">
		<% @genres.each do |genre| %>
			<%= link_to recipes_path(@recipe, genre_id: genre.id) do %>
				<p class="genre_link"><%= genre.name %></p>
			<% end %>
		<% end %>
	</div>
</div>