<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeShelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://kit.fontawesome.com/455412426e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <%= image_tag asset_path("shelf.png", alt: "画像1") ,class:"logo" %>
  <nav class="nav-style">
      <ul class="dropmenu">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Home', homes_home_path %>
          </li>
          <li>
            <%= link_to 'レシピ一覧', recipes_path %>
          </li>
          <li><a href="#">ユーザー ▽</a>
            <ul>
              <li><a href="/homes/shelf">Myレシピ</a></li>
              <li><a href="/homes/like">お気に入りレシピ</a></li>
              <li><a href="/users/<%= current_user.id %>">ユーザーページ</a></li>
              <li><a href="/recipes/new">レシピを書く</a></li>
            </ul>
          </li>
          <li class="li-style">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>

        <% else %>
          <li></li>
          <li>
            <%= link_to "Top", root_path, class:"" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class:"" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class:"" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
</html>

